doctype html
html
	head
		title #VaiSereia
		link(rel="stylesheet", type="text/css", href="style/bootstrap-grid.min.css")
		link(rel="stylesheet", type="text/css", href="style/main.css")
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width,minimum-scale=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Site destinado a mostrar o dia a dia do atleta Bernard Faria. Crossfit, natação, dicas de alimentação e muitos detalhes da vida de um atleta fora do comum!")
		meta(name="keywords" content="sereia, vai sereia, natação, crossfit, esporte, blog, alimentação, dicas, nado peito, crawl, nado borboleta, nado costas, medley, breaststroke, buterfly, backstroke, wod, personal record, nutrição, saúde, atleta")
		meta(name="author" content="Bernard Faria")
		meta(name="robots" content="index, follow")
		meta(property="og:locale" content="pt_BR")
		meta(property="og:url" content="http://www.vaisereia.com.br")
		meta(property="og:title" content="#VaiSereia")
		meta(property="og:site_name" content="#VaiSereia")
		meta(property="og:description" content="Site destinado a mostrar o dia a dia do atleta Bernard Faria. Crossfit, natação, dicas de alimentação e muitos detalhes da vida de um atleta fora do comum!")
		meta(property="og:image" content="http://www.vaisereia.br/images/sobre.jpg")
		meta(property="og:image:type" content="image/jpg")
		meta(property="og:image:width" content="460")
		meta(property="og:image:height" content="306")
		meta(property="og:type" content="website")
		meta(name="twitter:card" value="summary")
		meta(name="twitter:url" content="http://www.vaisereia.br")
		meta(name="twitter:title" content="#VaiSereia")
		meta(name="twitter:description" content="Site destinado a mostrar o dia a dia do atleta Bernard Faria. Crossfit, natação, dicas de alimentação e muitos detalhes da vida de um atleta fora do comum!")
		meta(name="twitter:image" content="http://www.vaisereia.br/images/sobre.jpg")
		meta(itemprop="name" content="#VaiSereia")
		meta(itemprop="description" content="Site destinado a mostrar o dia a dia do atleta Bernard Faria. Crossfit, natação, dicas de alimentação e muitos detalhes da vida de um atleta fora do comum!")
	body
		header#header
			.container
				.row
					.col-md-12
						.social
							a.fbook(href="https://www.facebook.com/vaisereia/", target="_blank")
							a.ytube(href="https://www.youtube.com/channel/UCSVOoIaZolUTQo05oLvk71g?sub_confirmation=1", target="_blank")
							a.inst(href="https://www.instagram.com/bernardxf/", target="_blank")
						a.logo(href="javascript:void(0);")
						ul#menu
							li
								a(href="#header") Home
							li
								a(href="#sobre") Sobre
							li
								a(href="#competicao") Competições
							li
								a(href="#youtube") Vídeos
							li
								a(href="#contato") Contato
		section#slideshow
			.container-fluid
				.row
					.col-md-12
						.content-slide
							.img1
							.img2
							.img3
							.img4
							.img5
		section#sobre
			.container
				.row
					.col-md-12
						h2 Sobre
						h3 Me conheça um pouco mais
				.row
					.col-md-6
						img(src="images/sobre.jpg")
					.col-md-6
						p A natação faz parte da minha vida desde quando eu tinha 7 anos de idade, quando iniciei minha vida esportiva no Divinópolis Clube (Divinópolis – MG), participando de campeonatos regionais. Em 1998, comecei a nadar pelo clube Álvares Cabral (Vitória – ES), onde participei de vários campeonatos como o Campeonato Capixaba, o Campeonato Sudeste (RJ, SP e MG), o Troféu Kurosa (Ipatinga - MG), entre outros.

						p De 2002 a 2008, já nadando pelo Barroca Tênis Clube (Belo Horioznte – MG), participei dos campeonatos Mineiros e Sudeste. No final de 2011, após uma pausa, retornei ao Barroca Tênis Clube (Master Enes) conseguindo em 2012 os seguintes resultados: 3º lugar nos 200m peito, 4º Lugar nas provas 50m peito e 100m peito e 7º lugar nos 100m medley no Campeonato Sul-Americano Master de Natação, que ocorreu na Vila Olímpica de Manaus em Manaus/AM. Também em 2012, fui o 2º melhor atleta do ano na categoria Pré-Master em Minas Gerais, sendo recordista mineiro na prova de 100m peito em piscinas de 25m.
				.row
					.col-md-6
						img(src="images/sobre2.jpg")
					.col-md-6
						p Em 2013, comecei a usar o crossfit como preparação física para melhorar meu desempenho nas piscinas e fui o melhor atleta do ano na categoria 25+ em Minas Gerais, sendo o recordista mineiro na prova dos 100m peito em piscinas de 50m e nos 50 e 100m em piscinas de 25m.

						p Em 2014, fui o melhor atleta do ano na categoria 25+ em Minas Gerais, participei do Campeonato Mundial de Natação Master que ocorreu em Montreal no Canadá.
				.row
					.col-md-6
						img(src="images/sobre3.jpg")
					.col-md-6
						p Em 2015, fui o 2º melhor atleta do ano na categoria 25+ em Minas Gerais, me lesionei durante os treinamentos. Tive tendinite no ombro direito, estiramento muscular no ombro esquerdo e tendinite no joelho esquerdo.

						p Em 2016, fui o 3º melhor atleta do ano na categoria 25+ em Minas Gerais, participei do Sul Americano de Natação Master que ocorreu em Maldonado no Uruguai e tive como melhor resultado o 4º lugar na prova de 400 meldey.
				.row
					.col-md-12
						.patrocinadores
							h4 Patrocinadores
							.patrocinios
								a.crossfit(href="http://crossfitbh.com.br/", target="_blank", title="Crossfit BH")
								a.nutriu(href="https://www.instagram.com/nutriufit/", target="_blank", title="Nutriu Fit")
								a.mundial(href="http://www.mundialvistos.com.br/", target="_blank", title="Mundial Vistos")
								a.soul(href="http://soultraveler.com.br/", target="_blank", title="Soul Traveler")
							a.button(href="#contato") Seja um patrocinador
		section#competicao
			.container
				.row
					.col-md-12
						h2 Competições
						h3 Veja meus últimos resultados
						ul.content-competicao
							li
								.foto.festival5
								.dados
									.data 
										span 02 de Setembro
									.comp
										span V Festival de Natação Master
									.local
										span Jaraguá Country Club
									.provas
										span
											span 50m Costas - 31.61
											span 50m Borboleta - 29.64
							li
								.foto.festival4
								.dados
									.data 
										span 05 de Agosto
									.comp
										span IV Festival de Natação Master
									.local
										span Barroca Tênis Clube
									.provas
										span
											span 100m Peito - 1:16.53
											span 50m Livre - 27.46
							li
								.foto.mineiro-inverno
								.dados
									.data 
										span 03/04 de Junho
									.comp
										span Campeonato Mineiro de Inverno
									.local
										span Olympico Club
									.provas
										span
											span 100m Peito - 1:13.48
											span 50m Borboleta - 30.46
											span 100m Medley - 1:06.62
											span 100m Borboleta - 1:09.38
							li
								.foto.festival3
								.dados
									.data 
										span 05 de Maio
									.comp
										span III Festival de Natação Master
									.local
										span Jaraguá Country Club
									.provas
										span
											span 50m Peito - 34.76
											span 200m Medley - 2:39.63
							li
								.foto.festival2
								.dados
									.data 
										span 01 de Abril
									.comp
										span II Festival de Natação Master
									.local
										span C.O.P.M.
									.provas
										span
											span 50m Peito - 33.74
											span 100m Borboleta - 1:11.67
							li
								.foto.festival1
								.dados
									.data 
										span 11 de Março
									.comp
										span II Festival de Natação Master
									.local
										span C.O.P.M.
									.provas
										span
											span 100m Peito - Desclassificado
											span 100m Medley - 1:08.71
						.btnNavegacao
							.btnPrev &larr; Anterior 
							.btnNext Próximo &rarr;
				//- a.button(href="javascript:void(0);") Mostrar mais
		section#youtube
			.container
				.row
					.col-md-12
						h2 Meu canal no youtube
						h3 Confira algumas provas, meus treinamentos e meu dia a dia!
				.row.videos

				.row
					.col-md-12
						a.button(href="https://www.youtube.com/channel/UCSVOoIaZolUTQo05oLvk71g?sub_confirmation=1", target="_blank") Inscreva-se
		section#contato
			.container
				.row
					.col-md-12
						h2 Contato
						h3 
							| Entre em contato para patricínios, parcerias ou até mesmo para me dar uma força!
							br
							| Será muito bom receber uma mensagem sua!
						form
							#retornoHTML
							.row
								.col-md-6
									input#nome(type="text", placeholder="Nome", name="nome")
									input#email(type="email", placeholder="E-mail", name="email")
									input#assunto(type="text", placeholder="Assunto", name="assunto")
								.col-md-6
									textarea#msg(placeholder="Mensagem", name="msg")
							.row
								.col-md-12
									button#enviar.button Enviar
		footer
			.container
				.row
					.col-md-7
						.insta
							h2 Instagram
							#instafeed
					.col-md-5
						.face
							h2 Facebook
							.fb-page(data-href="https://www.facebook.com/vaisereia/", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true", data-width="430")
								blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/vaisereia/")
									a(href="https://www.facebook.com/vaisereia/") Vai Sereia
			.copy Vai sereia &copy; 2017 - Todos os direitos reservados

		#fb-root
		script(type="text/javascript").
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(type="text/javascript", src="js/slick.js")
		script(type="text/javascript", src="js/main.js")


		