doctype html
html
	head
		title Vai Sereia
		link(rel="stylesheet", type="text/css", href="style/main.css")
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width,minimum-scale=1")
	body
		header
			.content
				.social
					a.intagram(href="javascript:void(0);", target="_blank")
					a.youtube(href="javascript:void(0);", target="_blank")
					a.facebook(href="javascript:void(0);", target="_blank")
				a.logo(href="javascript:void(0);")
				ul
					li
						a(href="javascript:void(0);") Home
					li
						a(href="javascript:void(0);") Sobre
					li
						a(href="javascript:void(0);") Competições
					li
						a(href="javascript:void(0);") Contato


		