doctype html
html
	head
		title Vai Sereia
		link(rel="stylesheet", type="text/css", href="style/main.css")
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width,minimum-scale=1")
	body
		header
			.content
				.social
					a.inst(href="javascript:void(0);", target="_blank")
					a.ytube(href="javascript:void(0);", target="_blank")
					a.fbook(href="javascript:void(0);", target="_blank")
				a.logo(href="javascript:void(0);")
				ul
					li
						a(href="javascript:void(0);") Home
					li
						a(href="javascript:void(0);") Sobre
					li
						a(href="javascript:void(0);") Competições
					li
						a(href="javascript:void(0);") Contato
		section.banner
		section.sobre
			.content
				h2 Sobre
				h3 Me conheça um pouco mais
				a.button(href="javascript:void(0);") Seja um patrocinador
		section.competicao
			.content
				h2 Competições
				h3 Veja meus últimos resultados
				ul
					li
						.foto
						.dados
							.data 
								span 11 de março
							.comp
								span Festival de natação master
							.local
								span Jaraguá Country Club
							.provas
								span
									span 100m Medley - 1:08.71
									span 100m Peito - 1:02.50
									span 50m Borboleta - 30.71
									span 100m Borboleta - 1:09.71
					li
						.foto
						.dados
							.data 
								span 11 de março
							.comp
								span Festival de natação master
							.local
								span Jaraguá Country Club
							.provas
								span
									span 100m Medley - 1:08.71
									span 100m Peito - 1:02.50
									span 50m Borboleta - 30.71
									span 100m Borboleta - 1:09.71
					li
						.foto
						.dados
							.data 
								span 11 de março
							.comp
								span Festival de natação master
							.local
								span Jaraguá Country Club
							.provas
								span
									span 100m Medley - 1:08.71
									span 100m Peito - 1:02.50
									span 50m Borboleta - 30.71
									span 100m Borboleta - 1:09.71
				//- a.button(href="javascript:void(0);") Mostrar mais
		section.youtube
			.content
				h2 Meu canal no youtube
				h3 Confira algumas provas, meus treinamentos e meu dia a dia!
				ul
				a.button(href="https://www.youtube.com/channel/UCSVOoIaZolUTQo05oLvk71g?sub_confirmation=1", target="_blank") Inscreva-se
		section
			.contante
				h2 Contato
				h3 
					| Entre em contato para patricínios, parcerias ou até mesmo para me dar uma força!
					br
					| Será muito bom receber uma mensagem sua!
					form
						input(type="text", placeholder="Nome")
						input(type="email", placeholder="E-mail")
						input(type="text", placeholder="Assunto")
						textarea(placeholder="Mensagem")
						button Enviar
		footer
			.content
				.insta
					h2 Instagram
					#instafeed
				.face
					h2 Facebook
					.fb-page(data-href="https://www.facebook.com/vaisereia/", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true")
						blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/vaisereia/")
							a(href="https://www.facebook.com/vaisereia/") Vai Sereia
			.copy Vai sereia &copy; 2017 - Todos os direitos reservados

		#fb-root
		script(type="text/javascript").
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(type="text/javascript", src="js/main.js")


		