doctype html
html
	head
		title Vai Sereia
		link(rel="stylesheet", type="text/css", href="style/main.css")
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width,minimum-scale=1")
	body
		header
			.content
				.social
					a.inst(href="javascript:void(0);", target="_blank")
					a.ytube(href="javascript:void(0);", target="_blank")
					a.fbook(href="javascript:void(0);", target="_blank")
				a.logo(href="javascript:void(0);")
				ul
					li
						a(href="javascript:void(0);") Home
					li
						a(href="javascript:void(0);") Sobre
					li
						a(href="javascript:void(0);") Competições
					li
						a(href="javascript:void(0);") Contato
		section.banner
		section.sobre
			.content
				h2 Sobre
				h3 Me conheça um pouco mais
				a.button(href="javascript:void(0);") Seja um patrocinador
		section.competicao
			.content
				h2 Competições
				h3 Veja meus últimos resultados
				a.button(href="javascript:void(0);") Mostrar mais
		section.youtube
			.content
				h2 Meu canal no youtube
				h3 Confira algumas provas, meus treinamentos e meu dia a dia!
				ul
				a.button(href="javascript:void(0);") Inscreva-se
		section
			.contante
				h2 Contato
				h3 
					| Entre em contato para patricínios, parcerias ou até mesmo para me dar uma força!
					br
					| Será muito bom receber uma mensagem sua!
					form
						input(type="text", placeholder="Nome")
						input(type="email", placeholder="E-mail")
						input(type="text", placeholder="Assunto")
						textarea(placeholder="Mensagem")
						button Enviar
		footer
			.content
				.insta
					h2 Instagram
					#instafeed
				.face
					h2 Facebook
		
		script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(type="text/javascript", src="js/main.js")


		