@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

*
	margin 0
	outline none
	padding 0
a
	text-decoration none
ul
	list-style none
body
	font-family Raleway
	font-size 14px
	font-weight 400
	
h2
	color #0A5299
	display block
	font-size 40px
	font-weight 700
	text-align center
	text-transform uppercase

h3
	color #535353
	display block
	font-size 23px
	font-weight 300
	text-align center

.button
	border 2px solid #00529B
	color #005299
	display block
	font-size 20px
	height 55px
	line-height 55px
	margin 15px auto 0
	text-align center
	text-transform uppercase
	width 275px
	&:hover
		background-color #00529B
		color #fff

header
section
footer
	display inline-block
	width 100%
	.content
		display block
		margin 0 auto
		padding 50px 0
		width 1200px
		
header
	background-color #125697
	.content
		padding 0
		
.banner
	background-image url(../images/slide/01.png)
	background-position center
	background-size cover
	height 650px
		
.competicao
.contato
	background-color #F5F6F7

















	