@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?drxhrm');
  src:  url('../fonts/icomoon.eot?drxhrm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?drxhrm') format('truetype'),
    url('../fonts/icomoon.woff?drxhrm') format('woff'),
    url('../fonts/icomoon.svg?drxhrm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  font-variant: normal;
}

/*.icon-calendario:before {
  content: "\e900";
}
.icon-face:before {
  content: "\e901";
}
.icon-insta:before {
  content: "\e902";
}
.icon-local:before {
  content: "\e903";
}
.icon-nadando:before {
  content: "\e904";
}
.icon-tempo:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}*/
