@media (max-width: 1199px)
	#youtube iframe
		height 252px

@media (max-width: 991px)
	header
		height 66px
		left 0
		position fixed
		top 0
		z-index 9
		#menu-mobile
			display block
		#menu
			background-color #125697
			height 0
			left 0
			margin 0
			overflow hidden
			position fixed
			top 66px
			transition all .25s ease-in-out
			width 100%
			z-index 9
			li
				display block
				margin auto
				padding 10px 0
				text-align center
				vertical-align top
			&.ativo
				height 200px
		.logo
			height 46px
			margin 10px 0
			width 180px
		.social
			display none
	h3
		font-size 20px;
	#slideshow
		margin-top 66px
		.content-slide
			height 450px
			.img1, .img2, .img3, .img4, .img5
				height 450px
	#sobre p
		font-size 18px
	#youtube iframe
		height 185px

@media(max-width:767px)
	#sobre img
		margin 0 0 25px
	#youtube iframe
		height 286px
	footer #instafeed
		height 224px
		overflow hidden

@media(max-width:575px)
	#youtube iframe
		height 306px

@media(max-width:480px)
	#slideshow
		.content-slide
			height 250px
			.img1, .img2, .img3, .img4, .img5
				height 250px
	#sobre .patrocinadores .patrocinios a
		margin 0 12px
	#youtube iframe
		height 253px

@media(max-width:320px)
	h2
		font-size 32px
	#sobre .patrocinadores .patrocinios a
		margin 10px
	#competicao
		ul li
			margin 0 0 20px
		.btnNavegacao
			.btnPrev, .btnNext
				width 120px
	footer
		.copy
			height auto
			line-height normal
			padding 10px 0
		.insta, .face
			h2
				font-size 32px





























